 <h1 class="page-title">Giày NiKe</h1>  
<div class="page-header-nike">
    <div class="sober-container clearfix">
                
    </div>
</div>


<nav class="">
    <div class="row">
        <div class="menu">
            <span type="button" class="btn tes">
                <a href="" class="">Danh Mục</a>
            </span>
            <span type="button" class="btn tes nav-item">
                <img src="../img/banner/nike.png" alt="Adidas">
                <a href="./nike.html" class="nav-link">NiKe</a>
            </span>
            <span type="button" class="btn tes">
                <img src="../img/banner/converse.png" alt="Converse">
                <a href="./converse.html" class="nav-link">Converse</a>
            </span>
            <span type="button" class="btn tes">
                <img src="../img/banner/adidas.png" alt="Adidas">
                <a href="./adidas.html" class="nav-link">AdiDas</a>
            </span>
            <span type="button" class="btn tes">
                <img src="../img/banner/vans.png" alt="VANS">
                <a href="./vans.html" class="nav-link">VANS</a>
            </span>
        </div>
    </div>
</nav>






<div class="container">
    <div class="row">
        <div class="">
            {{!-- <div class="sidebar-categories">
                <button>
                    <a class="sidebar-categories" href="#">Danh mục</a>
            </div> --}}

            <ul class="main-categories">
                {{# each cate}}
                <li class="main-nav-list">
                    <a href="/cate/{{this.tenkhongdau}}.{{this._id}}.html" aria-expanded="true"
                        aria-controls="fruitsVegetable"> {{this.ten}}</a>
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row gx-3 gy-2 align-items-center">
        <!-- Start Filter Bar -->

        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
        <input type="hidden" value="{{login}}" id="islogin">
        <section class="lattest-product-area pb-40 category-list">
            <div class="row">
                {{# each product}}
                <!-- single product -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="{{this.imagePath}}" alt="">
                        <div class="product-details">
                            <h6>{{this.title}}</h6>
                            <div class="price">
                                <h6>${{this.price}}</h6>
                            </div>
                            <div class="prd-bottom">
                                <a href="/them-vao-gio-hang/{{this._id}}" class="social-info islogin">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">Thêm vào giỏ </p>
                                </a>
                                <a href="/chi-tiet/{{this._id}}" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">Xem chi tiết</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
        <!-- End Best Seller -->
    </div>
</div>
</div>
<script src="/js/jquery.js"></script>
<script>
    var islogin = $('#islogin').val();
    if (islogin === 'false') {
        $('.islogin').attr('href', '../user/login');
    }
</script>